@import "../../sass/Mixin.scss";

@media screen and (max-width: 1599px) {

    /*Common Css*/
    .section-title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .section-subtitle {
        font-size: 14px;
        width: auto;
        width: 500px;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 200px 5px 150px 5px;


        .heroArea {

            & h1 {
                font-size: 100px;
                line-height: 1.4;
            }

            & h3 {
                color: #fff;
                font-size: 38px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                font-size: 17px;
                width: 400px;
                line-height: 1.6;
                margin-top: 25px;
            }

            & .btn {
                padding: 10px 25px;
                font-weight: 600;
                font-size: 18px;
                margin-top: 25px;
            }
        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        .aboutus-content-title {
            padding-right: 110px;

            & h3 {
                font-size: 54px;
            }

            & p {
                font-size: 16px;
                font-weight: 400;
                width: auto;
                line-height: 1.6;
                margin-top: 12px;
            }

        }

        .aboutus-icon-details {

            & .aboutus-icon {
                width: 24%;
            }

            & .aboutus-icon-text {
                width: 76%;

                & h2 {
                    font-size: 1.5rem;
                    line-height: 1.1;
                    margin-left: 1rem;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }

        }
    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 150px 0 150px 0;

        .offer-content {

            & h2 {
                font-size: 4rem;
            }

            & h3 {
                font-size: 1.25rem;
            }

        }

        &::before {
            height: 250px;
            width: 250px;
            left: 56%;
        }

        &::after {
            height: 450px;
            width: 435px;
        }

        & .bg-1 {
            height: 540px;
            width: 540px;
        }

    }

    /*Testimonial part*/
    .testimonial {
        .testimonial-right {
            min-height: 350px;
            padding: 70px 30px;
        }

        .testimonial-content {

            & p {
                font-size: 22px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 50px;
                font-weight: 700;
                font-size: 30px;
            }

            & h4 {
                margin-top: 8px;
                font-weight: 500;
                font-size: 15px;
            }
        }

        & .icofont-double-right {
            top: 78%;
            left: 14%;
            height: 40px;
            width: 40px;
            line-height: 37px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 78%;
            left: 7%;
            height: 40px;
            width: 40px;
            line-height: 37px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog-left.d-flex {
        display: block !important;
    }

    .blog-left {
        margin-top: 15px;

        .blog-img {
            width: auto;
        }

        .blog-content {
            padding: 30px;
            border-left: 2px solid #dcedd8;
            border-top: 0px;
            border-right: 2px solid #dcedd8;
            border-bottom: 2px solid #dcedd8;

            .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }
        }

    }

    .blog-content {
        padding: 30px;

        .blog-title h4 {
            font-size: 20px;
            margin-top: 5px;
        }
    }

    /*Contact Quote part*/
    .cta {

        &::before {
            width: 315px;
        }

        &::after {
            width: 290px;
        }

        .cta-detail {
            font-size: 52px;
            width: 550px;
        }

        // .cta .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }

    }
}

@media screen and (max-width: 1399px) {

    /*Common Css*/
    .section-title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .section-subtitle {
        font-size: 14px;
        width: auto;
        width: 500px;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 160px 5px 110px 5px;


        .heroArea {

            & h1 {
                font-size: 85px;
                line-height: 1.4;
            }

            & h3 {
                color: #fff;
                font-size: 35px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                font-size: 17px;
                width: 400px;
                line-height: 1.6;
                margin-top: 20px;
            }

            & .btn {
                padding: 10px 25px;
                font-weight: 600;
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {
            padding-right: 110px;

            & h3 {
                font-size: 54px;
            }

            & .aboutus-content-details p {
                font-size: 16px;
                font-weight: 400;
                width: auto;
                line-height: 1.6;
                margin-top: 12px;

            }
        }

        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 18%;
            }

            & .aboutus-icon-text {
                width: 76%;

                & h2 {
                    font-size: 28px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }

    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 100px 0 100px 0;

        & .offer-content {
            & h2 {
                font-size: 64px;
            }

            & h3 {
                font-size: 20px;
            }

        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }
    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 350px;
            padding: 70px 30px;
        }

        & .testimonial-content {

            & p {
                font-size: 22px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 50px;
                font-weight: 700;
                font-size: 30px;
            }

            & h4 {
                margin-top: 8px;
                font-weight: 500;
                font-size: 15px;
            }
        }

        & .icofont-double-right {
            top: 78%;
            left: 14%;
            height: 40px;
            width: 40px;
            line-height: 37px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 78%;
            left: 7%;
            height: 40px;
            width: 40px;
            line-height: 37px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog-left.d-flex {
        display: block !important;
    }

    .blog-left {
        margin-top: 15px;

        & .blog-img {
            width: auto;
        }

        & .blog-left .blog-content {
            padding: 30px;
            border-left: 2px solid #dcedd8;
            border-top: 0px;
            border-right: 2px solid #dcedd8;
            border-bottom: 2px solid #dcedd8;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }
        }

    }

    & .blog-content {
        padding: 30px;

        & .blog-title h4 {
            font-size: 20px;
            margin-top: 5px;
        }

    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 46px;
            width: 500px;
        }

        &::before {
            bottom: -65px;
            left: 15px;
            height: 245px;
            width: 225px;
        }

        &::after {
            top: -68px;
            right: 0px;
            height: 225px;
            width: 190px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }
    }

}

@media screen and (max-width: 1299px) {

    /*Common Css*/
    .section-title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .section-subtitle {
        font-size: 14px;
        width: auto;
        width: 500px;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;


        .heroArea {

            & h1 {
                font-size: 85px;
                line-height: 1.4;
            }

            & h3 {
                color: #fff;
                font-size: 35px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                font-size: 17px;
                width: 400px;
                line-height: 1.6;
                margin-top: 20px;
            }

            & .btn {
                padding: 10px 25px;
                font-weight: 600;
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {

            & h3 {
                font-size: 40px;
            }

            & .aboutus-content-details {

                & p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }

        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 15%;
            }

            & .aboutus-icon-text {
                width: 76%;

                & h2 {
                    font-size: 30px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }



    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0&;

        .offer-content {
            & h2 {
                font-size: 64px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }

    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 350px;
            padding: 70px 30px;
        }

        & .testimonial-content {

            & p {
                font-size: 22px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 50px;
                font-weight: 700;
                font-size: 30px;
            }

            & h4 {
                margin-top: 8px;
                font-weight: 500;
                font-size: 15px;
            }
        }


        & .icofont-double-right {
            top: 78%;
            left: 14%;
            height: 40px;
            width: 40px;
            line-height: 37px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 78%;
            left: 7%;
            height: 40px;
            width: 40px;
            line-height: 37px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        & .blog-left {
            margin-top: 15px;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 30px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }

        }

        & .blog-content {
            padding: 30px;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }
        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 46px;
            width: 500px;
        }

        &::before {
            bottom: -65px;
            left: 15px;
            height: 245px;
            width: 225px;
        }

        &::after {
            top: -68px;
            right: 0px;
            height: 225px;
            width: 190px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }
    }
}

@media screen and (max-width: 1199px) {

    /*Common Css*/
    .section-title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .section-subtitle {
        font-size: 14px;
        width: auto;
        width: 500px;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;

        .heroArea {

            & h1 {
                font-size: 85px;
                line-height: 1.4;
            }

            & h3 {
                color: #fff;
                font-size: 35px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                font-size: 17px;
                width: 400px;
                line-height: 1.6;
                margin-top: 20px;
            }

            & .btn {
                padding: 10px 25px;
                font-weight: 600;
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {

            & h3 {
                font-size: 40px;
            }

            & .aboutus-content-details {

                p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }


        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 18%;
            }

            & .aboutus-icon-text {
                width: 76%;

                & h2 {
                    font-size: 30px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }



    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0;

        & .offer-content {

            & h2 {
                font-size: 64px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }

    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 295px;
            padding: 40px 35px;
        }

        & .testimonial-content {

            & p {
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 50px;
                font-weight: 700;
                font-size: 30px;
            }

            & h4 {
                margin-top: 8px;
                font-weight: 500;
                font-size: 15px;
            }
        }


        & .icofont-double-right {
            top: 70%;
            left: 16%;
            height: 35px;
            width: 35px;
            line-height: 32px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 70%;
            left: 7%;
            height: 35px;
            width: 35px;
            line-height: 32px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        & .blog-left {
            margin-top: 15px;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 30px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }

            &:first-child {
                margin-top: 15px;
            }
        }

        & .blog-content {
            padding: 30px;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }

        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 46px;
            width: 500px;
        }

        &::before {
            bottom: -65px;
            left: 15px;
            height: 245px;
            width: 225px;
        }

        &::after {
            top: -68px;
            right: 0px;
            height: 225px;
            width: 190px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }
    }

    // /*blog-details*/
    // .blog_title h4 {
    //     font-size: 22px;
    // }

    // .recent_post ul li h4 {
    //     font-size: 22px;
    // }

}

@media screen and (max-width: 991px) {

    /*Common Css*/
    .section-title {
        font-size: 40px;
        margin-bottom: 5px;
    }

    .section-subtitle {
        font-size: 14px;
        width: 500px;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;


        .heroArea {

            & h1 {
                font-size: 65px;
                line-height: 1.4;
                font-weight: 700;
            }

            & h3 {
                color: #fff;
                font-size: 24px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                font-size: 14px;
                width: 295px;
                line-height: 1.6;
                margin-top: 5px;
            }

            & .btn {
                padding: 8px 18px;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {
            & h3 {
                padding-right: 0px;
            }

            & .aboutus-content-title {


                font-size: 26px;
            }

            & .aboutus-content-details {

                p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }


        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 24%;
            }

            & .aboutus-icon-text {
                width: 76%;

                & h2 {
                    font-size: 20px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;

                }

            }
        }

    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0;

        & .offer-content {

            & h2 {
                font-size: 48px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }

    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 215px;
            padding: 25px 20px;
        }

        & .testimonial-content {

            & p {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 10px;
                font-weight: 700;
                font-size: 18px;
            }

            & h4 {
                margin-top: 2px;
                font-weight: 500;
                font-size: 12px;
            }
        }


        & .icofont-double-right {
            top: 70%;
            left: 16%;
            height: 35px;
            width: 35px;
            line-height: 32px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 70%;
            left: 7%;
            height: 35px;
            width: 35px;
            line-height: 32px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        & .blog-left {
            margin-top: 15px;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 30px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }

        }

        & .blog-content {
            padding: 30px;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }
        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 30px;
            width: 350px;
        }

        &::before {
            bottom: -45px;
            left: 10px;
            height: 200px;
            width: 182px;
        }

        &::after {
            top: -45px;
            right: 0px;
            height: 180px;
            width: 155px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }
    }

    /*footer*/

    .footer_widget_title h2 {
        font-size: 30px;
    }

    /*blog*/
    .blog_title h4 {
        font-size: 18px;
    }

    .recent_post ul li h4 {
        font-size: 20px;
    }


    /*.blog-details*/

    .blog_details_comment {
        padding: 10px 15px;

        p {
            font-size: 16px;
        }
    }

    .blog_details strong,
    .details_comment strong {
        font-size: 18px;
        font-weight: 600;
    }

    .customer_img {
        width: 500px;
    }

    .customer_info p {
        font-size: 14px;
    }

    /*Footer*/
    .footer_widget_title h2 {
        font-size: 30px;
    }

    /*404-Error*/
    .error_content h4 {
        font-size: 30px;

    }
}

@media screen and (max-width: 767px) {
    /*Common Css*/

    .section-title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .section-subtitle {
        font-size: 12px;
        width: auto;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;

        .heroArea {

            & h1 {
                font-size: 44px;
                line-height: 1.4;
                font-weight: 700;
            }

            & h3 {
                color: #fff;
                font-size: 22px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                @include font-roboto(roboto, 400, 0.75rem);
                width: 250px;
                line-height: 1.8;
                margin-top: 5px;
            }

            & .btn {
                padding: 8px 18px;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
            }

        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {

            & h3 {
                font-size: 26px;
            }

            & .aboutus-content-details {

                & p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }

        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 16%;
            }

            & .aboutus-icon-text {
                width: 35%;

                & h2 {
                    font-size: 20px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }

    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0;

        & .offer-content {

            & h2 {
                font-size: 34px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }


    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 150px;
            padding: 25px 20px;
        }

        & .testimonial-content {

            & p {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 10px;
                font-weight: 700;
                font-size: 18px;
            }

            & h4 {
                margin-top: 2px;
                font-weight: 500;
                font-size: 12px;
            }
        }


        & .icofont-double-right {
            top: 70%;
            left: 16%;
            height: 35px;
            width: 35px;
            line-height: 32px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 70%;
            left: 7%;
            height: 35px;
            width: 35px;
            line-height: 32px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        & .blog-left {
            margin-top: 15px;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 30px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }

            }

            &:first-child {
                margin-top: 15px;
            }

        }

        & .blog-content {
            padding: 30px;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }

        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 30px;
            width: 350px;
        }

        &::before {
            bottom: -45px;
            left: 10px;
            height: 200px;
            width: 182px;
        }

        &::after {
            top: -45px;
            right: 0px;
            height: 180px;
            width: 155px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }
    }

    /*blog-details*/
    // .blog_title h4 {
    //     font-size: 22px;
    // }

    // /*.blog-details*/
    // .blog_details_comment p {
    //     font-size: 20px;
    // }

    // .blog_details_comment {
    //     padding: 24px 15px;
    // }

    // .blog_details strong,
    // .details_comment strong {
    //     font-size: 20px;
    //     font-weight: 600;
    // }

}

@media screen and (max-width: 575px) {
    /*Common Css*/

    .section-title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .section-subtitle {
        font-size: 12px;
        width: auto;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;

        .heroArea {

            & h1 {
                font-size: 34px;
                line-height: 1.4;
                font-weight: 700;
            }

            & h3 {
                color: #fff;
                font-size: 18px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                @include font-roboto(roboto, 400, 0.75rem);
                width: 250px;
                line-height: 1.8;
                margin-top: 5px;
            }

            & .btn {
                padding: 8px 18px;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
            }

        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {

            & h3 {
                font-size: 26px;
            }

            & .aboutus-content-details {

                p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }

        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 30%;
            }

            & .aboutus-icon-text {
                width: 70%;

                & h2 {
                    font-size: 20px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }
    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0;

        & .offer-content {

            & h2 {
                font-size: 34px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }

    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 250px;
            padding: 25px 20px;
        }

        & .testimonial-content {

            & p {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 10px;
                font-weight: 700;
                font-size: 18px;
            }

            & h4 {
                margin-top: 2px;
                font-weight: 500;
                font-size: 12px;
            }
        }


        & .icofont-double-right {
            top: 80%;
            left: 26%;
            height: 40px;
            width: 40px;
            line-height: 38px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 80%;
            left: 7%;
            height: 40px;
            width: 40px;
            line-height: 38px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        & .blog-left {
            margin-top: 15px;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 10px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }

            &:first-child {
                margin-top: 15px;
            }

        }

        & .blog-content {
            padding: 10px;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }

        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 30px;
            width: auto;
        }

        &::before {
            bottom: -45px;
            left: 10px;
            height: 130px;
            width: 119px;
        }

        &::after {
            top: -45px;
            right: 0px;
            height: 130px;
            width: 110px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }
    }


    // /*blog-details*/
    // .blog_title h4 {
    //     font-size: 18px;
    // }
}

@media screen and (max-width: 491px) {
    /*Common Css*/

    .section-title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .section-subtitle {
        font-size: 12px;
        width: auto;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;

        .heroArea {

            & h1 {
                font-size: 34px;
                line-height: 1.4;
                font-weight: 700;
            }

            & h3 {
                color: #fff;
                font-size: 18px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                @include font-roboto(roboto, 400, 0.75rem);
                width: 250px;
                line-height: 1.8;
                margin-top: 5px;
            }

            & .btn {
                padding: 8px 18px;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
            }

        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {

            & h3 {
                font-size: 26px;
            }

            & .aboutus-content-details {

                & p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }

        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 30%;
            }

            & .aboutus-icon-text {
                width: 70%;

                h2 {
                    font-size: 20px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }



    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0;

        & .offer-content {

            & h2 {
                font-size: 34px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }

    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 250px;
            padding: 25px 20px;
        }

        & .testimonial-content {

            & p {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 10px;
                font-weight: 700;
                font-size: 18px;
            }

            & h4 {
                margin-top: 2px;
                font-weight: 500;
                font-size: 12px;
            }
        }


        & .icofont-double-right {
            top: 80%;
            left: 26%;
            height: 40px;
            width: 40px;
            line-height: 38px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 80%;
            left: 7%;
            height: 40px;
            width: 40px;
            line-height: 38px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        & .blog-left {
            margin-top: 15px;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 10px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }

            &:first-child {
                margin-top: 15px;
            }
        }

        & .blog-content {
            padding: 10px;

            & .blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }
        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 1.9rem;
            width: auto;
        }

        &::before {
            bottom: -45px;
            left: 10px;
            height: 130px;
            width: 119px;
        }

        &::after {
            top: -45px;
            right: 0px;
            height: 130px;
            width: 110px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }

    }

}

@media screen and (max-width: 300px) {
    /*Common Css*/

    .section-title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .section-subtitle {
        font-size: 12px;
        width: auto;
    }

    /*Banner part*/
    .heroSection {
        height: auto;
        padding: 140px 5px 90px 5px;


        .heroArea {

            & h1 {
                font-size: 34px;
                line-height: 1.4;
                font-weight: 700;
            }

            & h3 {
                color: #fff;
                font-size: 18px;
                padding-left: 5px;
                padding-right: 20px;
            }

            & p {
                @include font-roboto(roboto, 400, 0.75rem);
                width: 250px;
                line-height: 1.8;
                margin-top: 5px;
            }

            & .btn {
                padding: 8px 18px;
                font-weight: 600;
                font-size: 12px;
                margin-top: 10px;
            }

        }
    }

    /*Features part*/
    .features {
        padding: 50px 0px;
    }

    /*About part*/
    .aboutus {
        padding: 50px 0;
        margin-bottom: 50px;

        & .aboutus-content-title {

            & h3 {
                font-size: 26px;
            }

            & .aboutus-content-details {

                p {
                    font-size: 16px;
                    font-weight: 400;
                    width: auto;
                    line-height: 1.6;
                    margin-top: 12px;
                }
            }

        }

        & .aboutus-icon-details {

            & .aboutus-icon {
                width: 30%;
            }

            & .aboutus-icon-text {
                width: 70%;

                h2 {
                    font-size: 20px;
                    line-height: 1.1;
                    margin-left: 16px;
                    margin-right: auto;
                    text-transform: capitalize;
                }
            }
        }



    }

    /*Offer part*/
    .offer {
        min-height: 100px;
        padding: 50px 0 50px 0;

        & .offer-content {

            & h2 {
                font-size: 34px;
            }

            & h3 {
                font-size: 20px;
            }
        }

        &::before {
            height: 180px;
            width: 180px;
        }

        &::after {
            height: 350px;
            width: 335px;
        }

        & .bg-1 {
            height: 275px;
            width: 275px;
        }
    }

    /*Testimonial part*/
    .testimonial {

        & .testimonial-right {
            min-height: 250px;
            padding: 25px 20px;
        }

        & .testimonial-content {

            & p {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
            }

            & h3 {
                margin-top: 10px;
                font-weight: 700;
                font-size: 18px;
            }

            & h4 {
                margin-top: 2px;
                font-weight: 500;
                font-size: 12px;
            }
        }


        & .icofont-double-right {
            top: 80%;
            left: 26%;
            height: 40px;
            width: 40px;
            line-height: 38px;
            font-size: 18px;
            z-index: 1;
        }

        & .icofont-double-left {
            top: 80%;
            left: 7%;
            height: 40px;
            width: 40px;
            line-height: 38px;
            font-size: 18px;
            z-index: 1;
        }
    }

    /*News part*/
    .blog {

        .blog-left {
            margin-top: 1rem;

            &.d-flex {
                display: block !important;
            }

            & .blog-img {
                width: auto;
            }

            & .blog-content {
                padding: 10px;
                border-left: 2px solid #dcedd8;
                border-top: 0px;
                border-right: 2px solid #dcedd8;
                border-bottom: 2px solid #dcedd8;

                & .blog-title h4 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }

        }

        &:first-child {
            margin-top: 15px;
        }

        & .blog-content {
            padding: 10px;
            margin-bottom: 1rem;

            &.blog-title h4 {
                font-size: 20px;
                margin-top: 5px;
            }
        }
    }

    /*Contact Quote part*/
    .cta {

        & .cta-detail {
            font-size: 30px;
            width: auto;
        }

        &::before {
            bottom: -45px;
            left: 10px;
            height: 130px;
            width: 119px;
        }

        &::after {
            top: -45px;
            right: 0px;
            height: 130px;
            width: 110px;
        }

        // & .btn {
        //     padding: 10px 24px;
        //     font-weight: 600;
        //     font-size: 13px;
        // }

    }
}